@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Singleton Guid: @ViewBag.Singleton</p>
    <p>Scoped Guid: @ViewBag.Scoped</p>
    <p>Transient Guid: @ViewBag.Transient</p>
    <hr />
    <p>Service Singleton Guid: @ViewBag.ServiceSingleton</p>
    <p>Service Scoped Guid: @ViewBag.ServiceScoped</p>
    <p>Service Transient Guid: @ViewBag.ServiceTransient</p>

</div>
